# create an .env file in your local environment with the following configurations
NODE_ENV=development
PORT=3001
MONGODB_URI=REPLACE_URI
MONGODB_USER=REPLACE_ENTER_USERNAME
MONGODB_PWD=REPLACE_PASSWORD_HERE